@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 375px) {
  #header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo a {
    text-decoration: none;
    color: #6070ff;
    font-size: 1em;
    transition: all 0.2s;
  }

  .logo a h1 {
    transition: all 3s;
  }

  .logo span {
    color: #000;
  }

  .nav {
    --i1: scale(1);
    --i2: scale(0);
  }

  .nav:has(.side-bar:target) {
    --i1: scale(0);
    --i2: scale(1);
    --clip: inset(0 0 0 0);
  }

  .nav-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title i";
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  .nav-menu {
    grid-area: i;
    position: relative;
    z-index: 10;
    font-size: 20px;
    transform: var(--i1);
    color: #6070ff;
  }

  .nav-menu-second {
    transform: var(--i2);
    color: #fff;
  }

  .nav-icon {
    width: 30%;
    display: block;
  }

  .side-bar {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: start;
    background-color: #6070ff9a;
    backdrop-filter: blur(10px);
    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path 0.5s;
  }

  .side-bar li {
    list-style: none;
    padding-top: 20px;
    margin-left: 20px;
    font-size: 32px;
    font-weight: 600;
  }

  .social-container {
    display: flex;
  }

  .social-container li {
    padding-right: 20px;
    list-style: none;
  }

  .side-bar li a {
    color: #fff;
    text-decoration: none;
  }

  main {
    background-color: #f4f5f7;
  }

  .section-p1 {
    width: 100%;
    height: 80vh;
    background-image: url("/img/header-shapes-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom-left-radius: 100px;
    background-color: #fff;
    border-bottom: 1px solid #dfe1e6;
  }

  .section-p1 .div1 {
    width: 90%;
    margin: auto;
    padding-top: 120px;
  }

  .div1 h2 {
    font-size: 2.8em;
    font-weight: 700;
    line-height: 50px;
    color: #172b4d;
  }

  .div1 p {
    padding-top: 10px;
    font-size: 16px;
    margin: 1px;
  }

  .connect {
    text-transform: uppercase;
    color: #7f8cff;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: 500;
  }

  .section-p1 .div2 {
    width: 90%;
    margin: auto;
  }

  .section-p2 {
    width: 90%;
    height: 2788px;
    padding-top: 50px;
    display: grid;
    margin: auto;
  }

  .card {
    border: 1px solid rgba(235, 235, 255, 1);
    width: 90%;
    height: 552px;
    border-radius: 16px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .card .img-project {
    width: 90%;
    margin: auto;
  }

  .card .description-project {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
  }

  .description-project h3 {
    font-size: 32px;
    width: 90%;
  }

  .frame {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 13px;
    font-weight: 600;
    padding-top: 5px;
  }

  .text-contain p {
    font-size: 20px;
    margin: 0 28px 28px 28px;
  }

  .frame p:nth-child(3) {
    color: #7a869a;
  }

  .frame p:nth-child(5) {
    color: #7a869a;
  }

  .description-project .text-description {
    padding-top: 15px;
    margin-bottom: 5px;
  }

  .list-technologys {
    display: flex;
  }

  .list-technologys li {
    list-style: none;
    font-weight: 500;
    padding: 4px 12px 4px 0;
  }

  .list-technologys li a {
    text-decoration: none;
    color: #6070ff;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 8px;
    background-color: #ebebff;
  }

  .description-project button {
    width: 126px;
    height: 48px;
    margin-top: 20px;
    border-radius: 16px;
    font-size: 17px;
    font-weight: 500;
    color: #396df2;
    border-color: #6070ff;
    background-color: #fff;
  }

  .description2 button {
    width: 168px;
    height: 48px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 16px;
    font-size: 17px;
    font-weight: 500;
    color: #396df2;
    border-color: #6070ff;
    background-color: #fff;
    position: relative;
    right: 30px;
  }

  .description-project button:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .description-project button:active {
    background-color: #2230d2;
    color: #fff;
  }

  .tonic h3 {
    line-height: 65px;
  }

  .multi h3 {
    line-height: 33px;
  }

  .section-p3 {
    width: 100%;
    height: 1062px;
    background: #fff;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .description1 {
    width: 327px;
  }

  .description1 h2 {
    font-size: 40px;
  }

  .description2 button:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .description2 button:active {
    background-color: #2230d2;
    color: #fff;
  }

  .social-container2 {
    display: flex;
    justify-content: center;
    position: relative;
    right: 30px;
  }

  .social-container2 li {
    list-style: none;
    padding-right: 35px;
  }

  .name-drop {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }

  .name-drop li {
    list-style: none;
    margin-top: 50px;
    padding-left: 10px;
    border-radius: 8px;
  }

  .name-drop li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: #000;
  }

  .contact {
    width: 100%;
    height: 779px;
    background-color: #6070ff;
    background-image: url("/img/contact-form-shapes-mobile.svg");
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
    border-top-left-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-contain {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
  }

  .text-contain h2 {
    font-size: 40px;
  }

  #myform {
    width: 85%;
    height: 52vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  #myform input {
    border-radius: 8px;
    height: 48px;
    border-color: #6070ff;
    padding: 5px;
  }

  #myform input:valid::after {
    border-color: green;
  }

  #myform input:invalid::after {
    border-color: red;
  }

  #myform textarea {
    border-radius: 8px;
    height: 170px;
    border-color: #6070ff;
    padding: 10px;
  }

  #myform button {
    height: 45px;
    width: 45%;
    border-radius: 8px;
    border-color: #6070ff;
    font-size: 17px;
  }

  #myform button:enabled {
    color: #6070ff;
    background-color: #fff;
  }

  #myform button:hover {
    color: #fff;
    background-color: #6070ff;
  }
}

@media screen and (min-width: 768px) {
  #header {
    height: 60px;
    width: 100%;
    padding-bottom: 20px;
  }

  .logo {
    padding-left: 180px;
    padding-top: 10px;
  }

  .nav {
    --i1: scale(0);
    --i2: scale(0);
  }

  .nav:has(.side-bar:target) {
    --i1: scale(0);
    --i2: scale(0);
    --clip: inset(0 0 0 0);
  }

  .nav-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu-second {
    display: none;
  }

  .side-bar {
    position: relative;
    width: 100%;
    background-color: #fff;
    clip-path: none;
    transition: none;
    display: flex;
    margin-right: 200px;
  }

  .side-bar li {
    padding-right: 32px;
    display: flex;
    padding-bottom: 10px;
  }

  .side-bar li a {
    color: rgba(52, 69, 99, 1);
    font-size: 15px;
  }

  .social-container li a {
    font-size: 16px;
  }

  .side-bar li a:hover {
    color: rgba(52, 69, 99, 0.638);
  }

  .section-p1 {
    background-image: url('img/Header-bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 80vh;
    border-bottom: 1px solid rgba(223, 225, 230, 1);
  }

  .section-p1 .div1 {
    margin-top: 40px;
    margin-left: 260px;
  }

  .div1 h2 {
    font-size: 48px;
    width: 30%;
    line-height: 60px;
    color: #091e42;
    animation: transL 5s infinite;
  }

  .div1 p {
    font-size: 20px;
    width: 65%;
    animation: transL 5s infinite;
  }

  .section-p1 .div2 {
    margin-left: 260px;
    animation: transL 5s infinite;
  }

  @keyframes transL {
    0% {
      transform: translateX(10px);
    }
    
    100% {
      transform: translateX(20px);
    }
  }

  .section-p2 {
    width: 100%;
  }

  .card {
    width: 1156px;
    height: 496px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(223, 225, 230, 1);
  }

  .card-multi {
    display: flex;
    flex-direction: row-reverse;
  }

  .tonic-img {
    width: 100%;
    height: 100%;
    padding: 24px 0 24px 24px;
  }

  .tonic {
    height: 100%;
    padding: 48px 46px 146px 46px;
  }

  .tonic h3 {
    width: 100%;
    font-size: 40px;
  }

  .tonic .text-description {
    padding: 32px 0 24px 0;
  }

  .tonic .frame {
    width: 70%;
    line-height: 24px;
  }

  .tonic .frame p {
    font-size: 18px;
    font-weight: 400;
  }

  .card-multi .multi {
    height: 100%;
    padding: 48px 46px 128px 48px;
  }

  .multi-img {
    height: 100%;
    padding: 24px 22px 24px 0;
  }

  .multi h3 {
    width: 100%;
    font-size: 40px;
    line-height: 50px;
  }

  .multi .frame {
    width: 70%;
    padding: 18px 0 28px 0;
  }

  .multi .frame p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .multi .text-description {
    padding: 0 0 22px 0;
  }

  .multi button {
    margin-top: 48px;
  }

  .section-p3 {
    display: flex;
    flex-direction: row;
    height: 668px;
    border-bottom: 1px solid rgba(223, 225, 230, 1);
  }

  .descript-social {
    width: 40%;
    height: 100%;
    padding: 166px 0 198px 143px;
  }

  .descript-social .description1 {
    width: 100%;
  }

  .descript-social .description1 h2 {
    color: #091e42;
    width: 100%;
  }

  .descript-social .description1 p {
    width: 100%;
  }

  .descript-social .description2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .social-container2 {
    padding-left: 30px;
  }

  .languages {
    width: 60%;
    height: 100%;
  }

  .languages .name-drop {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-right: 180px;
    padding-left: 36px;
  }

  .dropdown-content {
    display: flex;
  }

  .dropdown-content li {
    border: none;
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    margin-right: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .dropdown-content li img {
    width: 60%;
    margin-right: 5px;
    padding-bottom: 15px;
  }

  .contact {
    align-items: center;
    background-image: url("/img/contact-form-background-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .text-contain {
    width: 30%;
    justify-content: center;
  }

  #myform {
    width: 100%;
    align-items: center;
  }

  #myform input,
  #myform textarea {
    width: 30%;
  }

  #myform button {
    width: 10%;
  }
}
